<h1>Current Consumption</h1>

<div class="col-xs-12">
  <div class="col-xs-6">
    <div class="col-xs-12">
      <h3>Mauro</h3>
    </div>
    <div class="col-xs-12" *ngIf="mauroCurrentTime">
      <label>1 Wh per {{mauroDeltaTime}} seconden</label><br/>
      <label>Predicted usage:</label> {{mauroCurrentUsage}} Wh
    </div>
    <div class="col-xs-12" style="display: block" *ngIf="mauroPieChart">
      <canvas baseChart
              [data]="mauroPieChart.pieChartData"
              [labels]="mauroPieChart.pieChartLabels"
              [chartType]="mauroPieChart.pieChartType"
              (chartHover)="mauroPieChart.chartHovered($event)"
              (chartClick)="mauroPieChart.chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="col-xs-12">
      <h3>Arthur</h3>
    </div>
    <div class="col-xs-12" *ngIf="arthurCurrentTime">
      <label>1 Wh per {{arthurDeltaTime}} seconden</label><br/>
      <label>Predicted usage:</label> {{arthurCurrentUsage}} Wh
    </div>
    <div class="col-xs-12" style="display: block" *ngIf="arthurPieChart">
      <canvas baseChart
              [data]="arthurPieChart.pieChartData"
              [labels]="arthurPieChart.pieChartLabels"
              [chartType]="arthurPieChart.pieChartType"
              (chartHover)="arthurPieChart.chartHovered($event)"
              (chartClick)="arthurPieChart.chartClicked($event)"></canvas>
    </div>
  </div>
</div>
