<nav class="navbar navbar-default col-xs-12">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="https://www.youtube.com/watch?v=PX7zPlQjAr8">
        <img title="GOTTA MEASURE FEST"
             src="https://s-media-cache-ak0.pinimg.com/originals/57/31/4c/57314c519cfd363dbee4a145b2748341.png"
             width="32.5" height="25">
        </a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-leftt">
        <li><a routerLink="/">Current Raw Data</a></li>
        <li><a routerLink="/currentConsumption">Current consumption</a></li>
        <li><a routerLink="/costs">Costs</a></li>
        <li><a routerLink="/pastConsumption">Past consumption</a></li>
        <li><a routerLink="/prediction">Prediction</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center col-xs-12">
  <router-outlet></router-outlet>
</div>

