<h1>Trend</h1>
<div class="col-xs-6" style="display: block" *ngIf="mauroTrend">
  <h3>Mauro: 24 hour prediction</h3>
  <canvas baseChart
          [datasets]="mauroTrend.lineChartData"
          [labels]="mauroTrend.lineChartLabels"
          [options]="mauroTrend.lineChartOptions"
          [colors]="mauroTrend.lineChartColors"
          [legend]="mauroTrend.lineChartLegend"
          [chartType]="mauroTrend.lineChartType"
          (chartHover)="mauroTrend.chartHovered($event)"
          (chartClick)="mauroTrend.chartClicked($event)">
  </canvas>
</div>
<div class="col-xs-6" style="display: block" *ngIf="arthurTrend">
  <h3>Arthur: 24 hour prediction</h3>
  <canvas baseChart
          [datasets]="arthurTrend.lineChartData"
          [labels]="arthurTrend.lineChartLabels"
          [options]="arthurTrend.lineChartOptions"
          [colors]="arthurTrend.lineChartColors"
          [legend]="arthurTrend.lineChartLegend"
          [chartType]="arthurTrend.lineChartType"
          (chartHover)="arthurTrend.chartHovered($event)"
          (chartClick)="arthurTrend.chartClicked($event)">
  </canvas>
</div>
