<h1>Past Consumption</h1>
<div class="col-xs-6" style="display: block" *ngIf="MauroLineChart12Hour">
  <h3>Arthur</h3>
  <canvas baseChart
          [datasets]="MauroLineChart12Hour.lineChartData"
          [labels]="MauroLineChart12Hour.lineChartLabels"
          [options]="MauroLineChart12Hour.lineChartOptions"
          [colors]="MauroLineChart12Hour.lineChartColors"
          [legend]="MauroLineChart12Hour.lineChartLegend"
          [chartType]="MauroLineChart12Hour.lineChartType"
          (chartHover)="MauroLineChart12Hour.chartHovered($event)"
          (chartClick)="MauroLineChart12Hour.chartClicked($event)">
  </canvas>
</div>
