<h1>Past Consumption</h1>
<div class="col-xs-6" style="display: block" *ngIf="mauro12">
  <h3>Mauro: Last 12 hours</h3>
  <canvas baseChart
          [datasets]="mauro12.lineChartData"
          [labels]="mauro12.lineChartLabels"
          [options]="mauro12.lineChartOptions"
          [colors]="mauro12.lineChartColors"
          [legend]="mauro12.lineChartLegend"
          [chartType]="mauro12.lineChartType"
          (chartHover)="mauro12.chartHovered($event)"
          (chartClick)="mauro12.chartClicked($event)">
  </canvas>
</div>
<div class="col-xs-6" style="display: block" *ngIf="arthur12">
  <h3>Arthur: Last 12 hours</h3>
  <canvas baseChart
          [datasets]="arthur12.lineChartData"
          [labels]="arthur12.lineChartLabels"
          [options]="arthur12.lineChartOptions"
          [colors]="arthur12.lineChartColors"
          [legend]="arthur12.lineChartLegend"
          [chartType]="arthur12.lineChartType"
          (chartHover)="arthur12.chartHovered($event)"
          (chartClick)="arthur12.chartClicked($event)">
  </canvas>
</div>

<div class="col-xs-6" style="display: block" *ngIf="mauro24">
  <h3>Mauro: Last 24 hours</h3>
  <canvas baseChart
          [datasets]="mauro24.lineChartData"
          [labels]="mauro24.lineChartLabels"
          [options]="mauro24.lineChartOptions"
          [colors]="mauro24.lineChartColors"
          [legend]="mauro24.lineChartLegend"
          [chartType]="mauro24.lineChartType"
          (chartHover)="mauro24.chartHovered($event)"
          (chartClick)="mauro24.chartClicked($event)">
  </canvas>
</div>
<div class="col-xs-6" style="display: block" *ngIf="arthur24">
  <h3>Arthur: Last 24 hours</h3>
  <canvas baseChart
          [datasets]="arthur24.lineChartData"
          [labels]="arthur24.lineChartLabels"
          [options]="arthur24.lineChartOptions"
          [colors]="arthur24.lineChartColors"
          [legend]="arthur24.lineChartLegend"
          [chartType]="arthur24.lineChartType"
          (chartHover)="arthur24.chartHovered($event)"
          (chartClick)="arthur24.chartClicked($event)">
  </canvas>
</div>

<div class="col-xs-6" style="display: block" *ngIf="mauro48">
  <h3>Mauro: Last 48 hours</h3>
  <canvas baseChart
          [datasets]="mauro48.lineChartData"
          [labels]="mauro48.lineChartLabels"
          [options]="mauro48.lineChartOptions"
          [colors]="mauro48.lineChartColors"
          [legend]="mauro48.lineChartLegend"
          [chartType]="mauro48.lineChartType"
          (chartHover)="mauro48.chartHovered($event)"
          (chartClick)="mauro48.chartClicked($event)">
  </canvas>
</div>
<div class="col-xs-6" style="display: block" *ngIf="arthur48">
  <h3>Arthur: Last 48 hours</h3>
  <canvas baseChart
          [datasets]="arthur48.lineChartData"
          [labels]="arthur48.lineChartLabels"
          [options]="arthur48.lineChartOptions"
          [colors]="arthur48.lineChartColors"
          [legend]="arthur48.lineChartLegend"
          [chartType]="arthur48.lineChartType"
          (chartHover)="arthur48.chartHovered($event)"
          (chartClick)="arthur48.chartClicked($event)">
  </canvas>
</div>
