<h1>Past Consumption</h1>
<div class="col-xs-6" style="display: block" *ngIf="lineChartLabels12">
  <h3>Last 12 hours</h3>
  <canvas baseChart
          [datasets]="lineChartData12"
          [labels]="lineChartLabels12"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">

  </canvas>
</div>
<!--<div class="col-xs-6" style="display: block" *ngIf="arthurLineChartData">-->
  <!--<h3>Arthur</h3>-->
  <!--<canvas baseChart-->
          <!--[datasets]="arthurLineChartData"-->
          <!--[labels]="arthurLineChartLabels"-->
          <!--[options]="lineChartOptions"-->
          <!--[colors]="lineChartColors"-->
          <!--[legend]="lineChartLegend"-->
          <!--[chartType]="lineChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)">-->

  <!--</canvas>-->
<!--</div>-->

<!--<div class="col-xs-6" style="display: block" *ngIf="mauroLineChartData">-->
  <!--<h3>Mauro</h3>-->
  <!--<canvas baseChart-->
          <!--[datasets]="mauroLineChartData"-->
          <!--[labels]="mauroLineChartLabels"-->
          <!--[options]="lineChartOptions"-->
          <!--[colors]="lineChartColors"-->
          <!--[legend]="lineChartLegend"-->
          <!--[chartType]="lineChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)">-->

  <!--</canvas>-->
<!--</div>-->


