<div *ngIf="person" class="text-left">
  <h2>{{person.first_name}} {{person.last_name}}</h2>
  <div>
    <label>ID:</label>
    <label>{{person.id}}</label>
  </div>
  <div>
    <label>First name:</label>
    <input [(ngModel)]="person.first_name"/>
  </div>
  <div>
    <label>Last name:</label>
    <input [(ngModel)]="person.last_name"/>
  </div>
  <div>
    <label>Age:</label>
    <input [(ngModel)]="person.age" type="number" min="0" max="420"/>
  </div>
  <div>
    <label>Gender:</label>
    <select [(ngModel)]="person.gender">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </div>
</div>
